From https://www.youtube.com/watch?v=ODjFDZC_TyA&list=PLTjRvDozrdlxj5wgH4qkvwSOdHLOCx10f&index=5

#1

In [25]:
ctr=0

for i in range(1,10):
  if i % 2 == 0:
    print(i)
    ctr = ctr + 1
print('We have', ctr , 'even numbers')

2
4
6
8
We have 4 even numbers

#2

In [27]:
for i in range(7):
  print(i)

0
1
2
3
4
5
6

In [31]:
n=7
for i in range(1,n+1):
  print(i)

1
2
3
4
5
6
7

In [33]:
n=7
for i in range(1,n+1):
  print(i*'*')

*
**
***
****
*****
******
*******